<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    style
       include ../static/style1.css
       include ../static/style2.css
       include ../static/style3.css
</head>
<body>
    <nav class="navbar">
        <div id="logo">
        <img class="logo3" src="static/logo3.jpg" alt="Myonline.com">
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/"> About Us</a></li>
            <li><a href="/" target="-blank"> Services</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/sign">Sign in</a></li>
           

        </ul>
    </nav>
    <div class="div2">

    
    <div id="center">
        <h1>Login in</h1>
        <form action ="/" method="post" id="sign">
            <div class="text_field">
                <input type="text" id="us" required>
                <label for="us" >username</label>
            </div>   
            <div class="text_field">
                <input type="password" id ="passw"required>
                <label for="passw" >password</label>
            </div>
            <input type="submit" name="" value="login ">
            <div class="pass"><a href="sign.html">forget password?</a> </div>
            <div class="sign_up_link">
               <a href="/signup" id="signup" >Signup</a>
            </div>

        </form>
    
        
    </div>
    </div>
     <hr>
    

   
    
</body>
</html>