form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 76%;
    background: #f1f1f1;
    display: flex;
    
  }
  form.example button {
     /*float: left;*/
    width: 14%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  form.example button:hover {
    background: #0b7dda;
  }